/* globales (header, footer, fonts, etc) */
* {
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: black;
  color: white;
  margin: 0px;
}
a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

header {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  box-sizing: border-box;
}

.links {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;
  margin-top:0px;
  margin-bottom:0px;
}

.links li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;

}

.links li:hover {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 0, 0, 0.3);
  transition: 200ms;
  border-radius: 5px;
  text-decoration: underline;

}

nav {
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: rgba(51, 51, 51, 0.692);
}

.logo {
  width: 220px;
}

.logo img {
  width: 100%;
}

.search {
  width: 15%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: rgba(51, 51, 51, 0.692);
  padding-top: 18px;
  padding-bottom: 17px;
}

.search input {
  width: 100%;
  padding: 3px;
  border-radius: 10px;
}

.art-icon {
  width: 2%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 19px;
  padding-bottom: 21px;
  background-color: rgba(51, 51, 51, 0.692);
}

/* colores */
.greenyellow {
  color: greenyellow;
}
/* footer */
footer {
  border-top: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 100px;
  width: 100%;
  height: 83px;
  box-sizing: border-box;
}
.slide {
  animation: slide 5s infinite alternate;
  block-size: max-content;
  
}
footer p {
  text-align: center;
}
@keyframes slide {
  from {margin-right: 100%;}
  to {margin-right: 0%;}
}

/* banner */

.banner {
  height: 300px;
  margin-top: 2%;
  height: 300px;
  width: 100%;
  filter: blur(2px);
  z-index: 1;
}

/* index */
.in-banner {
  background-image: url(../img/imagenesbanner/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.h1-banner {
  position: absolute;
  text-align: center;
  width: 100%;
  text-shadow: 0px 5px 10px rgba(255, 0, 0, 0.568);
}

.h1-banner h1 {
  z-index: 3;
  position: absolute;
  width: 100%;
  text-align: center;
}

.h1-banner h1,
.h2-list {
  text-align: center;
}

h1 {
  font-size: 100px;
}

.h2-list {
  width: 312px;
  border-bottom: 1px solid gray;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.4);
}

.lists {
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  padding-left: 0px;
}
.list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.sub-list {
  width: 360px;
  height: 100%;
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
}
.sub-list:hover {
  background-color: rgba(255, 0, 0, 0.3);
  transition: 500ms;
}
.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.list-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 150px;
}
.list-text p {
  margin-top:-5%;
}
.content-container img {
  border-radius: 20%;
  max-height: 110px;
}
.sub-list-button {
  width: 100%;
  height: 100%;
  background-color: rgba(70, 69, 69, 0.377);
}

/* playlist */
.plimg {
  width: 30%;
  height: 200px;
}
@keyframes animatepls {
   from {top: 0px;}
 to {top: 100px;}
}
.playlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: animatepls 1s infinite;
}
.yourpl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  color: rgb(182, 182, 182);
}
.songspl {
  width: 100px;
  height: 100px;
}
.plsongs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  color: rgb(182, 182, 182);
}
.weight {
  font-weight: 400;
}
.startli {
  display: flex;
  justify-self: flex-start;
  flex-wrap: wrap;
}
.plsonginfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.songartist {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.plol {
  list-style: decimal;
}
.white {
  color: white;
}
/* genres */

.gen-banner {
  background-image: url(../img/imagenesbanner/5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.art-gen {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
}
.gen-card-container {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 0px 10px 1px rgba(255, 0, 0, 0.568);
  background-color: rgba(255, 0, 0, 0.3);
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gen-card {
  width: 30%;
}
.gen-card-container:hover {
  background-color: rgba(255, 0, 0, 0.568) ;
}
.gen-card-container p {
  text-align: center;
}

/* detail-artist */
.main{
 background-image: url(/TFI/img/imagenescancion/david\ guetta\ logo.png);
 background-size: 600px;
 background-repeat: no-repeat;
 background-position: center;
 background-position: top;
}

.article2{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 80px;
}
.lista{
  margin-left: 9%;
}
.h3top{
  font-size: 40px;
  color: lightslategrey;
}
.ollista{
  font-size: 30px;
}
.artistdiv{
  margin-left: 80px;
}
.artista2{
  margin-left: 7%;
  color: lightslategray;
  font-size: 50px;
}


/* detail-album */
.det-gen-banner {
  background-image: url(../img/imagenesbanner/6.jpg);
  background-size: cover;
  background-position-y: 80%;
  background-repeat: no-repeat;
}
.main1{
  background-image: url(/TFI/img/imagenescancion/david\ guetta\ logo.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: center;
  background-position: top;
}
.album{
  display: flex;
  justify-content: space-around;
  margin-left: 80px;
}
.desc{
  font-size: 25px;
}
.divdisco{
  margin-left: 0px;
}
.listenalbum{
  margin-left: 0%;
}
.datoscancion {
  padding-left: 0px;
  margin-bottom: 25%;
}
.listen {
margin-left: 13%;
}
<<<<<<< HEAD
.span1{
  font-size: 30px;
  color: lightslategray;
}

=======
>>>>>>> 753dcd2a0601a5e42a1a25200004f00bceaea968
/* detail-track */

.article .main .main1{
  width: 100%;
}
.fondo1{
margin-bottom: 10px;
}
  
.divimportante{ 
  background-image: url(/proyectointegrador/TFI/img/imagenescancion/david\ guetta\ logo.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position:center ;
}
.texto1{
  margin-right: 8%;
  font-size: 15px;
  color: lightslategray;
}
.david{
  display: flex;
  justify-content: flex-end;
  font-size: 8px;
  
}
.cancion{
  display: flex;
  justify-content: flex-end;
}
.aside{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 70px
}
.divaside{
  margin-left: 90px;
}
.arc{
  color:red;
}
.div5{
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

/* detail-genres */
.art-det-gen {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
}
.det-gen-card-container {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px 1px red;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.3);
}
.det-gen-card {
  width: 30%;
}
.det-gen-card img {
  max-width: 80%;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px black;
}
.det-gen-card-container:hover {
  background-color: rgba(255, 0, 0, 0.568) ;
  transition: 400ms;
}

/* search-results */

/* responsive */

  /* index */

  /* genres */

  /* detail genres */

  /* detail artist */

  /* detail album */

  /* detail track */

  /* playlist  */
  
  /* search results  */

