/* globales (header, footer, fonts, etc) */
* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

header {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  box-sizing: border-box;
}

.links {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;
  margin-top:0px;
  margin-bottom:0px;
}

.links li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;

}

.links li:hover {
  display: flex;
  justify-content: space-around;
  background-color: rgb(105, 105, 105);
  border-radius: 5px;
  text-decoration: underline;

}

nav {
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: rgba(51, 51, 51, 0.692);
}

.logo {
  width: 220px;
}

.logo img {
  width: 100%;
}

.search {
  width: 15%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: rgba(51, 51, 51, 0.692);
  padding-top: 17px;
  padding-bottom: 16px;
}

.search input {
  width: 100%;
  padding: 3px;
  border-radius: 10px;
}

.art-icon {
  width: 2%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 18px;
  padding-bottom: 20px;
  background-color: rgba(51, 51, 51, 0.692);
}

/* footer */
footer {
  border-top: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 100px;
  animation: slide 5s infinite alternate;
  block-size: max-content;
}
footer p {
  text-align: center;
}
@keyframes slide {
  from {margin-right: 100%;}
  to {margin-right: 0%;}
}

/* banner */

.banner {
  height: 300px;
  margin-top: 2%;
  height: 300px;
  width: 100%;
  filter: blur(2px);
  z-index: 1;
}

/* index */
.in-banner {
  background-image: url(../img/imagenesbanner/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.h1-banner {
  position: absolute;
  text-align: center;
  width: 100%;
}

.h1-banner h1 {
  z-index: 3;
  position: absolute;
  width: 100%;
  text-align: center;
}

.h1-banner h1,
.h2-list {
  text-align: center;
}

h1 {
  font-size: 100px;
}

.h2-list {
  margin-left: 15%;
  margin-right: 5%;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
  background-color: rgba(51, 51, 51, 0.692);
  border-radius: 10px;
}

.lists section {
  width: 50%;
}

.lists {
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}

.list-1 h2,
.list-2 h2,
.list-3 h2 {
  text-align: center;
}

.list-1,
.list-2,
.list-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
}

.sub-list-1,
.sub-list-2,
.sub-list-3 {
  background-color: rgba(70, 69, 69, 0.377);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  border-top: 1px solid gray;
}

.sub-list-1 img,
.sub-list-2 img,
.sub-list-3 img {
  border-radius: 20%;
  height: 100px;
}


/* detail-track */

/* detail-artist */

/* detail-album */

/* playlist */
.plimg {
  width: 30%;
  height: 200px;
}
@keyframes animatepls {
   from {top: 0px;}
 to {top: 100px;}
}
.playlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: animatepls 1s infinite;
}
.yourpl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  color: rgb(182, 182, 182);
}
.songspl {
  width: 100px;
  height: 100px;
}
.plsongs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  color: rgb(182, 182, 182);
}
.weight {
  font-weight: 400;
}
.startli {
  display: flex;
  justify-self: flex-start;
  flex-wrap: wrap;
}
.plsonginfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.songartist {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.white {
  color: white;
}
/* genres */

.gen-banner {
  background-image: url(../img/imagenesbanner/5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* detail-genres */
.article{
width: 100%;
}
.fondo1{
margin-bottom: 10px;
}

.divimportante{
  background-image: url(/proyectointegrador/TFI/img/imagenescancion/david\ guetta\ logo.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position:center ;
}
.texto1{
  margin-right: 8%;
}
.david{
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  
}
.cancion{
  display: flex;
  justify-content: flex-end;
}
.aside{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 70px
  
}
.divaside{
  background-image: url(/proyectointegrador/TFI/img/imagenesbanner/3.png);
  margin-left: 80px;
  
}
.span1{
  font-size: 20px;
  font-weight: bold;
}



/* search-results */

/* colores */

/* search-results */


/* Album-detail */

/* search-results */






